
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin máy server</h2>
<form action="/test/show" method="post">
  IP Address: <input type="text" name="ip" /><br />
  Databasename: <input type="text"  name="Databasename" /><br />
  Username: <input type="text" name="usr" /><br />
  Password: <input type="text" name="pwd" /><br />
  <button>Show</button>
</form>
@section scripts{
  <script>
    $(function () {
      var value = '@TempData["result"]';
      if (value != '')
      {
        toastr.error(value);
      }
    });
  </script>
  }


