
@{
    ViewBag.Title = "Nhập thông tin máy server";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin máy server</h2>
<form action="/home/show" method="post">
    IP Address: <input type="text" name="ip" value="DESKTOP-2RV2058" /><br />
    Databasename: <input type="text" name="Databasename" value="QuanLyBanHang123" /><br />
    Username: <input type="text" name="usr" value="khachhang1" /><br />
    Password: <input type="text" name="pwd" value="123" /><br />
    <button>Show</button>
</form>
@section scripts{
    <script>
    $(function () {
      var value = '@TempData["result"]';
      if (value != '')
      {
        toastr.error(value);
      }
    });
    </script>
}
