
@{
  ViewBag.Title = "Nhập thông tin máy server";
  //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin máy server</h2>
<form action="/home/show" method="post">
    IP Address: <input type="text" name="ip" value="DESKTOP-2RV2058" /><br />
    Databasename: <input type="text" name="Databasename" value="QuanLyBanHang123" /><br />
    Username: <input type="text" name="usr" value="khachhang1" /><br />
    Password: <input type="text" name="pwd" value="123" /><br />
    <button>Show</button>
</form>
@section scripts{
    <script>
    $(function () {
      var value = '@TempData["result"]';
      if (value != '')
      {
        toastr.error(value);
      }
    });
  </script>
}


<style>

    dy {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>