@model IEnumerable<WebApplication1.Models.LOAISANPHAM>

<div class=" h_menu4">
  <ul class="memenu skyblue">
    <li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
    <li class="active grid" style="display: inline;"><a class="color8" href="Url.Action(" Index","Home")">Trang chủ</a></li>
    @foreach (var item in Model)
    {
      <li style="display: inline;">
        <a class="color1" href="@Url.Action("DanhSachSanPhamTheoLoai", "SanPham", new { MaLoaiSP = item.MaLoaiSP})">@item.TenLoai</a>
        @*<div class="mepanel" style="display: none; opacity: 1;">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <ul>
                  @foreach (var item in groupItem.GroupBy(n => n.NhaSanXuat))
                    {
                        if (item.Key != null)
                        {
                            <li><a href="@Url.Action("SanPham", "SanPham", new { MaLoaiSP = groupItem.Key.MaLoaiSP, MaNSX = item.Key.MaNSX })">@item.Key.TenNSX</a></li>
                        }
                    }
                </ul>
              </div>
            </div>
          </div>
        </div>*@
      </li>
    }
  </ul>
</div>